@import "../theme.css";

.header {
  @apply --header;
  margin-bottom: 1em;
}

.subheader {
  @apply --subheader;
  margin-bottom: 1em;
}

.title {
  @apply --title;
  margin-bottom: 1em;
}

.subtitle {
  @apply --subtitle;
  margin-bottom: 1em;
}

.subtitleAlt {
  @apply --subtitleAlt;
  margin-bottom: 1em;
}

.base {
  @apply --base;
  margin-bottom: 1em;
}

.baseAlt {
  @apply --baseAlt;
  margin-bottom: 1em;
}
