.light a {
  color: var(--color-accent);
}

.dark a {
  color: var(--color-accent);
}

:root {
  --unit: 4px;
  --preferred-font: "Segoe UI", "Calibri", "Roboto", "Helvetica", "Arial",
    sans-serif;
  --preferred-monospace-font: "Consolas", "Monaco", monospace;
  --font-weight-light: 300;
  --font-weight-semilight: 400;
  --font-weight-regular: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --color-accent: #0078d7;

  --color-light-base-low: color(#000000 a(0.2));
  --color-light-base-medium-low: color(#000000 a(0.4));
  --color-light-base-medium: color(#000000 a(0.6));
  --color-light-base-medium-high: color(#000000 a(0.8));
  --color-light-base-high: color(#000000 a(1));

  --color-light-alt-low: color(#ffffff a(0.2));
  --color-light-alt-medium-low: color(#ffffff a(0.4));
  --color-light-alt-medium: color(#ffffff a(0.6));
  --color-light-alt-medium-high: color(#ffffff a(0.8));
  --color-light-alt-high: color(#ffffff a(1));

  --color-light-list-low: color(#000000 a(0.1));
  --color-light-list-medium: color(#000000 a(0.2));
  --color-light-list-accent-low: color(#0078d7 tint(40%));
  --color-light-list-accent-medium: color(#0078d7 tint(60%));
  --color-light-list-accent-high: color(#0078d7 tint(70%));

  --color-light-chrome-low: color(#f2f2f2 a(1));
  --color-light-chrome-medium-low: color(#f2f2f2 a(1));
  --color-light-chrome-medium: color(#e6e6e6 a(1));
  --color-light-chrome-high: color(#cccccc a(1));
  --color-light-chrome-alt-low: color(#171717 a(1));
  --color-light-chrome-disabled-low: color(#7a7a7a a(1));
  --color-light-chrome-disabled-high: color(#cccccc a(1));
  --color-light-chrome-black-low: color(#000000 a(0.2));
  --color-light-chrome-black-medium-low: color(#000000 a(0.4));
  --color-light-chrome-black-medium: color(#000000 a(0.8));
  --color-light-chrome-black-high: color(#000000 a(1));
  --color-light-chrome-white: color(#ffffff a(1));

  --color-dark-base-low: color(#ffffff a(0.2));
  --color-dark-base-medium-low: color(#ffffff a(0.4));
  --color-dark-base-medium: color(#ffffff a(0.6));
  --color-dark-base-medium-high: color(#ffffff a(0.8));
  --color-dark-base-high: color(#ffffff a(1));

  --color-dark-alt-low: color(#000000 a(0.2));
  --color-dark-alt-medium-low: color(#000000 a(0.4));
  --color-dark-alt-medium: color(#000000 a(0.6));
  --color-dark-alt-medium-high: color(#000000 a(0.8));
  --color-dark-alt-high: color(#000000 a(1));

  --color-dark-list-low: color(#000000 a(0.1));
  --color-dark-list-medium: color(#000000 a(0.2));
  --color-dark-list-accent-low: color(#0078d7 shade(40%));
  --color-dark-list-accent-medium: color(#0078d7 shade(20%));
  --color-dark-list-accent-high: color(#0078d7 shade(10%));

  --color-dark-chrome-low: color(#171717 a(1));
  --color-dark-chrome-medium-low: color(#2b2b2b a(1));
  --color-dark-chrome-medium: color(#1f1f1f a(1));
  --color-dark-chrome-high: color(#767676 a(1));
  --color-dark-chrome-alt-low: color(#f2f2f2 a(1));
  --color-dark-chrome-disabled-low: color(#858585 a(1));
  --color-dark-chrome-disabled-high: color(#333333 a(1));
  --color-dark-chrome-black-low: color(#000000 a(0.2));
  --color-dark-chrome-black-medium-low: color(#000000 a(0.4));
  --color-dark-chrome-black-medium: color(#000000 a(0.8));
  --color-dark-chrome-black-high: color(#000000 a(1));
  --color-dark-chrome-white: color(#ffffff a(1));

  --header: {
    font-size: 46px;
    line-height: 56px;
    margin: 0;
    font-weight: var(--font-weight-light);
  }

  --subheader: {
    font-size: 34px;
    line-height: 40px;
    margin: 0;
    font-weight: var(--font-weight-light);
  }

  --title: {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    font-weight: var(--font-weight-semilight);
  }

  --subtitle: {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    font-weight: var(--font-weight-regular);
  }

  --subtitleAlt: {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    font-weight: var(--font-weight-regular);
  }

  --base: {
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    font-weight: var(--font-weight-semibold);
  }

  --baseAlt: {
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    font-weight: var(--font-weight-bold);
  }

  --caption: {
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    font-weight: var(--font-weight-regular);
  }

  --captionAlt: {
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    font-weight: var(--font-weight-regular);
  }

  --body: {
    font-size: 15px;
    line-height: 20px;
    font-weight: var(--font-weight-regular);
  }

  --reset: {
    box-sizing: border-box;
    font-family: var(--preferred-font);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-size-adjust: 100%;

    & *,
    & *::after,
    & *::before {
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
      text-size-adjust: 100%;
      -webkit-touch-callout: none;
    }
  }
}

h1 {
  @apply --header;
  margin-bottom: 1.5em;
}

h2 {
  @apply --subheader;
  margin-bottom: 1.5em;
}

h3 {
  @apply --title;
  margin-bottom: 1.5em;
}

h4 {
  @apply --subtitle;
  margin-bottom: 1.5em;
}

code {
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  font-weight: var(--font-weight-semibold);
  font-family: var(--preferred-monospace-font);
}

pre {
  margin: 2em 0;
  padding: 24px;
  border: 1px solid var(--color-light-chrome-medium);
  background-color: var(--color-light-chrome-medium-low);
}

:globa(.light) pre {
  border: 1px solid var(--color-light-chrome-medium);
  background-color: var(--color-light-chrome-medium-low);
}

:global(.dark) pre {
  border: 1px solid var(--color-dark-chrome-medium);
  background-color: var(--color-dark-chrome-medium-low);
}

p {
  max-width: 60em;
  margin: 2em 0;
}
