@import "../theme.css";

.navigation {
}

.menu {
  height: 0;
  max-height: 0px;
  position: absolute;
  left: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 100;
  overflow: hidden;
  border-bottom: none;
}

.menuDrawerIconHidden {
  opacity: 0;
  position: absolute;
  margin: 0;
}

.menuDrawerIconHidden:checked ~ .menu {
  transition: max-height 0.5s ease-in-out;
  height: auto;
  padding-top: 6px;
  max-height: 100vh;
}

.menuDrawerIconHidden.light:checked ~ .menu {
  /* border-top: 1px solid var(--color-light-base-low); */
  border-bottom: 2px solid var(--color-light-base-high);
}

.menuDrawerIconHidden.dark:checked ~ .menu {
  /* border-top: 1px solid var(--color-dark-base-low); */
  border-bottom: 2px solid var(--color-dark-base-high);
}

.menuDrawerIcon {
  user-select: none;
  display: block;
  user-select: none;
  height: 32px;
  width: 32px;
  margin: 6px 12px 6px 0;
  position: relative;
  cursor: pointer;
}

.menuDrawerIcon:after {
  content: "☰";
  text-align: center;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: 0.5em;
  @apply --subtitle;
}

.menuDrawerIconHidden:checked {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.menuItem {
}

.menuItem a {
  display: block;
  padding: 16px 12px;
  text-decoration: none;
}

.menuItem.dark a {
  color: var(--color-dark-base-high);
  background-color: var(--color-dark-chrome-medium-low);
}

.menuItem.light a {
  color: var(--color-light-base-high);
  background-color: var(--color-light-chrome-medium-low);
}

.menuItem.light a:hover {
  text-decoration: underline;
  background-color: var(--color-light-chrome-medium);
}

.menuItem.dark a:hover {
  text-decoration: underline;
  background-color: var(--color-dark-chrome-medium);
}

@media screen and (min-width: 641px) {
  .menu {
    position: relative;
    height: auto;
    display: flex;
    max-height: unset;
    border-bottom: none;
  }

  .menuDrawerIcon,
  .menuDrawer {
    display: none;
  }

  .menuItem.light,
  .menuItem.dark {
    background-color: inherit;
  }

  .menuItem.light a,
  .menuItem.dark a {
    background-color: inherit;
  }

  .menuItem.light a:hover,
  .menuItem.dark a:hover {
    text-decoration: underline;
    background-color: inherit;
  }

  .menuDrawerIconHidden:checked ~ .menu {
    border-top: none;
    border-bottom: none;
  }

  .menuDrawerIconHidden.light:checked ~ .menu {
    border-top: none;
    border-bottom: none;
  }

  .menuDrawerIconHidden.dark:checked ~ .menu {
    border-top: none;
    border-bottom: none;
  }
}
