@import "../theme.css";

.panel {
  display: flex;
  @apply --reset;
}

.panelStretchX {
  width: 100%;
}

.panelStretchY {
  min-height: 100%;
}

.panel.light {
  color: var(--color-light-base-high);
}

.panel.solid.light {
  background-color: var(--color-light-alt-high);
}

.panel.dark {
  color: var(--color-dark-base-high);
}

.panel.solid.dark {
  background-color: var(--color-dark-alt-high);
}

.panelHorizontal {
  flex-direction: row;
}

.panelPadHorizontalNone {
  padding-left: 0;
  padding-right: 0;
}

.panelPadHorizontalSmall {
  padding-left: 8px;
  padding-right: 8px;
}

.panelPadHorizontalMed {
  padding-left: 12px;
  padding-right: 12px;
}

.panelPadHorizontalLarge {
  padding-left: 12px;
  padding-right: 12px;
}

.panelVertical {
  flex-direction: column;
}

.panelPadVerticalNone {
  padding-top: 0;
  padding-bottom: 0;
}

.panelPadVerticalSmall {
  padding-top: 8px;
  padding-bottom: 8px;
}

.panelPadVerticalMed {
  padding-top: 12px;
  padding-bottom: 12px;
}

.panelPadVerticalLarge {
  padding-top: 12px;
  padding-bottom: 12px;
}

.panelStack {
  flex-direction: column;
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  .panelStack {
    flex-direction: row;
  }

  panelPadHorizontalNone {
    padding-left: 0;
    padding-right: 0;
  }

  .panelPadHorizontalSmall {
    padding-left: 16px;
    padding-right: 16px;
  }

  .panelPadHorizontalMed {
    padding-left: 24px;
    padding-right: 24px;
  }

  .panelPadHorizontalLarge {
    padding-left: 24px;
    padding-right: 24px;
  }

  .panelVertical {
    flex-direction: column;
  }

  .panePadlVerticalNone {
    padding-top: 0;
    padding-bottom: 0;
  }

  .panelPadVerticalSmall {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .panelPadVerticalMed {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .panelPadVerticalLarge {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1007px) {
  .panelStack {
    flex-direction: row;
  }

  panelPadHorizontalNone {
    padding-left: 0;
    padding-right: 0;
  }

  .panelPadHorizontalSmall {
    padding-left: 16px;
    padding-right: 16px;
  }

  .panelPadHorizontalMed {
    padding-left: 24px;
    padding-right: 24px;
  }

  .panelPadHorizontalLarge {
    padding-left: 5%;
    padding-right: 5%;
  }

  .panelVertical {
    flex-direction: column;
  }

  .panelPadVerticalNone {
    padding-top: 0;
    padding-bottom: 0;
  }

  .panelPadVerticalSmall {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .panelPadVerticalMed {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .panelPadVerticalLarge {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
