@import "../theme.css";

.panel {
  display: flex;
  padding: 12px;
}

.panelStack {
  flex-direction: column;
}

.light {
  @apply --light;
}

.dark {
  @apply --dark;
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  .panel {
    padding: 24px;
  }

  .panelStack {
    flex-direction: row;
  }
}

@media screen and (min-width: 1007px) {
  .panel {
    padding: 24px 5%;
  }
  .panelStack {
    flex-direction: row;
  }
}
