@import "../theme.css";

.pageBar {
  display: flex;
  padding-bottom: 0;
}

.pageBarTitle {
  @apply --subheader;
  flex: 1;
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  .pageBar {
    flex-direction: row;
    justify-content: flex-start;
  }

  .pageBarTitle {
    @apply --subheader;
    flex: 1;
  }
}

@media screen and (min-width: 1007px) {
  .pageBar {
    flex-direction: row;
    justify-content: flex-start;
  }

  .pageBarTitle {
    @apply --subheader;
    flex: 1;
  }
}
