@import "../theme.css";

.pageBar {
  display: flex;
  min-height: 72px;
}

.pageBarAccent {
  background-color: var(--color-accent);
}

.pageBarTitle {
  flex: 1;
  @apply --subheader;
}

.pageBarTitle.light a {
  color: var(--color-light-base-high);
  text-decoration: none;
}

.pageBarTitle.dark a {
  color: var(--color-dark-base-high);
  text-decoration: none;
}

@media screen and (min-width: 641px) {
  .pageBar {
    min-height: 92px;
    flex-direction: row;
    justify-content: flex-start;
  }
}
