@import "../theme.css";

.panel {
  max-width: 0;
}

.menu {
  list-style-type: none;
  margin: 12px 0 24px 0;
  padding: 0;
}

.menuItem a {
  text-decoration: none;
  line-height: 2.25em;
}

.menuItem a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  .panel {
    margin: 0;
    min-width: calc(var(--unit) * 50);
    max-width: 1000vw;
    width: 16.6666%;
  }
}

@media screen and (min-width: 1007px) {
  .panel {
    margin: 0;
    min-width: calc(var(--unit) * 50);
    max-width: 1000vw;
    width: 16.6666%;
  }
}
